body,
html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.navscroll {
  transition: 1s;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9) !important;
}

#navUtama {
  transition: 1s;
  background: transparent;
}

.navscroll .nav-link,
.navscroll .navbar-brand {
  transition: 1s;
  color: #000 !important;
}

#navUtama .nav-link,
#navUtama .navbar-brand {
  transition: 1s;
  color: #fff;
  text-shadow: 1px 1px 3px #ccc;
}

#navUtama .nav-item.active .nav-link{
  font-weight: bolder;
  text-shadow: 1px 1px 3px #17a2b8;
}

@media (max-width: 768px) {
  body,
  html {
    font-size: 12px;
  }
}
